.reviews-title {
    text-align: center;
    font-size: 2rem;
    margin: 15px auto;
    font-weight: bold;
}

.reviews-container {
    display: flex;
    overflow: auto;
    width: 100%;
}

.box-review {
    display: flex;
    gap: 10px;
    flex-shrink: 0;
    width: calc(100% - 35px);
    max-width: 20rem;
    padding: 15px;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 15px;
    margin: 8px;
    box-shadow: 0 0 6px rgb(0, 0, 0, 40%);
}

.box-review > img {
    height: 80px;
    border-radius: 50%;
}

.box-review > div:nth-child(2) {
    display: grid;
    gap: 8px;
    padding: 10px 0;
}

.boxStars {
    display: flex;
    height: 16px;
}

.boxStars svg {
    height: 100%;
}

.userName {
    font-weight: 600;
}