.reviews-title {
    text-align: center;
    font-size: 2rem;
    margin: 15px auto;
    font-weight: bold;
}

.reviews-container {
    display: flex;
    overflow: auto;
    width: 100%;
}

.reviews-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 700px;
    flex-shrink: 0;
}

.box-review {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 310px;
    margin: 10px;
    padding: 15px;
    border: 2px solid;
    border-radius: 30px;
    box-sizing: border-box;
    background: #fffff0;
}

.box-review .name {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 45px;
    font-family: 'Rubik Mono One';
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.box-review .name > div:nth-child(1) {
    height: 100%;
    aspect-ratio: 1;
}

.boxStars {
    display: flex;
    height: 1.5rem;
    gap: 5px;
}

.boxStars > * {
    display: flex;
    text-align: center;
    align-items: center;
}

.verifyBox {
    font-weight: bold;
    font-size: 0.8rem;
    gap: 5px;
}

.boxStars svg {
    height: 100%;
    width: auto;
}

.box-review .title {
    margin: 10px 0;
    font-weight: bold;
}

.box-review .text {

}